* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.wrap {
    width: 100%;
    background-color: #1F2937;
}

.inside {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.header.container {
    background-color: #1F2937;
}

.main.container {
    background-color: white;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav.logo.text {
    color: #F9FAF8;
    margin-right: auto;
    padding-left: 40px;
}

a {
    text-decoration: none;
}

a:visited {
    color: #e5e7eb;
    text-decoration: none;
}

.nav.links {
    display: flex;
    gap: 16px;
    list-style-type: none;
    text-decoration: none;
    padding-right: 40px;
}

.hero.container {
    display: flex;
    gap: 40px;
    padding: 40px;
}

.hero.left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 1 0px;
}

.hero.right {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    color: #e5e7eb;
    flex: 1 1 0px;
}

.hero.main.text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.secondary, .links {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    padding-left: 25px;
    padding-right: 25px;
    background-color: #3882f6;
    color: #F9FAF8;
    border-radius: 10px;
    border: 5px solid #3882f6;
}

/*  */
.main.header {
    padding: 30px;
    text-align: center;
}

.main.content.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 50px;
}

.main.content.one, .main.content.two, .main.content.three, .main.content.four {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main.content.image {
    width: 144px;
    height: 144px;
    border-radius: 10px;
    border: 5px solid #3882f6;
}

.main.content.text {
    flex: 1 1 0px;
    max-width: 150px;
    text-align: center;
}

/*  */

.quote.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #E5E7EB;
    height: 400px;
}

.quote.text {
    margin: auto;
    padding: 50px 0px 0px 0px;
    width: 750px;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
}

.quote.info.text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-align: right;
    padding-right: 10px;
    margin-top: -40px;
}

/*  */

.action.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: white;
}

.action.content {
    display: flex;
    align-items: center;
    gap: 80px;
    background-color: #3882f6;
    border-radius: 10px;
    border: 5px solid #3882f6;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.action.heading {
    color: #F9FAF8;
}

.action.text {
    color: #e5e7eb;
    margin-top: -20px;
}

.action.button {
    border: 2px solid white;
    border-radius: 5px;
    color: #F9FAF8;
    text-align: center;
}

.action.right {
    margin: auto;
}

.copyright {
    color: #E5E7EB;
    text-align: center;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}